.error_message,
.loading_message,
.quote_container {
  padding: 50px;
}

.loading_message {
  color: #324ab2;
}

.error_message {
  color: #8f00ff;
}

.quote,
.author {
  font-family: "Segoe UI", sans-serif;
  padding: 10px;
  font-size: 1.25rem;
  line-height: 200%;
  text-align: center;
}

.quote_container {
  justify-content: center;
  text-align: center;
}

.author {
  font-family: "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: 50%;
}
