html,
body {
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: "Segoe UI", sans-serif;
  flex-direction: column;
  background: linear-gradient(#cdd7d9, #e0e0e0, #d8d7d4);
  padding: 20px;
  color: #181212;
}
